%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    .notice= flash[:notice]
    .alert= flash[:alert]
  %body
    - if current_user
      = link_to "books i love" , books_i_loves_path 
      |
      = link_to "Sign out", destroy_user_session_path
    - else
      = link_to "Sign in", oauth_consumer_path("memetales_iphone")
    = yield
